<div id="<%= dom_id comment %>" class="media">
    <figure class="media-left">
      <%= render partial: 'users/shared/profile_avatar', locals: {user: comment.user}%>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <%= link_to comment.user.username, user_path(comment.user), data: {turbo: false} %>
          <small>
            <time datetime="<%= comment.created_at.iso8601 %>"><%= comment.created_at.strftime("%b %d, %Y") %></time>
          </small>
          <br/>
          <%= comment.body %>
        </p>
      </div>
      <%# COMMENT FORM FOR REPLIES%>
      <div data-controller="comment-form">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <%= render partial: "comments/likes", locals: { comment: comment } %>
            </div>
            <% if comment.depth == 0 %>
              <div class="level-item"><%= link_to "Reply", "#", data: { action: "click->comment-form#toggleForm" } %></div>
            <% end %>
          </div>
        </div>
        <div class="comment-form hide" data-comment-form-target="form" >
          <%= render partial: "comments/form", locals: {post: comment.post, parent: comment } %>
        </div>
      </div>
      <%# COMMENT REPLIES %>
      <% if comment.depth == 0 %>
        <div id = "<%= dom_id comment %>_replies" class="mt-4">
          <%# render comment.comments.includes([:user, :post]).order(id: :desc).limit(1) %>
            <%= render comment.comments.includes([:user, :post]).order(id: :desc).limit(1) %>
            <% if comment.comments.size > 1 %>
              <%= link_to "Show More", post_comments_path(parent_id: comment.id, post_id: comment.post_id), data: { turbo: false } %>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class="media-right">
      <% if current_user == comment.user %>
        <%= link_to "Edit", edit_post_comment_path(comment.post ,comment) %>
        <%= link_to "Delete", post_comment_path(comment.post, comment),
              data: { turbo_method: :delete,
                      turbo_confirm: "Are you sure?"} %>
      <% end %>
    </div>

    
</div>
