<h1 class="title is-3">Edit Profile</h1>
<%= render "users/shared/errors" %>
<%= form_with model: @user do |form| %>
  <div class="field">
    <%= form.label :username, class: "label" %>
    <div class="control">
      <%= form.text_field :username, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :bio, class: "label" %>
    <div class="control">
      <%= form.text_area :bio, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :avatar_url, class: "label" %>
    <div class="control">
      <%= form.text_field :avatar_url, class: "input" %>
    </div>
  </div>
  <br />
  <div class="field">
    <div class="control">
      <%= form.button "Save", class: "button is-primary" %>
    </div>
  </div>
<% end %>