<% @users.each do |user| %>
  <div>
    <%= user.username %>
    <%= form_with scope: :follow, url: follows_path do |form| %>
      <%= form.hidden_field :follower_id, value: current_user.id %>
      <%= form.hidden_field :followee_id, value: user.id %>
      <%= form.submit "Follow" %>
    <% end %>
  </div>
<% end %>