<%= image_tag("#{@user.avatar_url}", alt: "profile picture", size: "75x75", class: 'profile-img') %>
<div class="profile-container">
  <div class="profile-info">
    <div class="username"><%= @user.username %></div>
    <div class="bio"><%= @user.bio %></div>
    <div class="join-date"><%= @user.created_at.strftime("%Y-%m-%d") %></div>
  </div>
  <% if current_user == @user %>
    <div class="edit-profile"><%= link_to 'Edit', edit_user_path %></div>
  <% else %>
    <%# am I folllowing them? %>
    <% if @user.following?(current_user) %>
      <p>following you<p>
    <% end %>

    <% if current_user.following?(@user) %>
      <%# unfollow button %>
      <% follow = Follow.find_by(follower_id: current_user.id, followee_id: @user.id) %>
      <%= form_with scope: :follow, url: follow_path(follow), method: :delete  do |form| %>
        <%= form.submit "Unfollow" %>
      <% end %>
    <% else %>
      <%# follow button %>
      <%= form_with scope: :follow, url: follows_path do |form| %>
        <%= form.hidden_field :follower_id, value: current_user.id %>
        <%= form.hidden_field :followee_id, value: @user.id %>
        <%= form.submit "Follow" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="posts">
  <% @user.posts.each do |post| %>
    <div class="card">
      <%= render post %>
      <div class="comments-likes-view">
        <%= render partial: 'posts/count_comments_likes', locals: {post: post} %>
        <div><%= link_to "View", post_path(post) %></div>
      </div>
    </div>
  <% end %>
</div>