user#show
<%= render "users/shared/profile_avatar" %>
<div><%= @user.username %></div>
<%= @user.bio %>
<%= @user.created_at.strftime("%Y-%m-%d") %>
<%= link_to 'Edit', edit_user_path %>

<div id="posts">
  <% @user.posts.each do |post| %>
    <div class="card">
      <%= render post %>
      <div class="comments-likes-view">
        <%= render partial: 'posts/count_comments_likes', locals: {post: post} %>
        <div><%= link_to "View", post_path(post) %></div>
      </div>
    </div>
  <% end %>
</div>