<%= render "users/shared/profile_avatar" %>
<div class="profile-container">
  <div class="profile-info">
    <div class="username"><%= @user.username %></div>
    <div class="bio"><%= @user.bio %></div>
    <div class="join-date"><%= @user.created_at.strftime("%Y-%m-%d") %></div>
  </div>
  <div class="edit-profile"><%= link_to 'Edit', edit_user_path %></div>
</div>

<div id="posts">
  <% @user.posts.each do |post| %>
    <div class="card">
      <%= render post %>
      <div class="comments-likes-view">
        <%= render partial: 'posts/count_comments_likes', locals: {post: post} %>
        <div><%= link_to "View", post_path(post) %></div>
      </div>
    </div>
  <% end %>
</div>