<h1>follow#index</h1>

<% @follows.each do |request| %>
  <div>follower_id: <%= User.find(request.follower_id).id %></div>
  <div>followee_id: <%= User.find(request.followee_id).id %></div>
  <div>follower: <%= User.find(request.follower_id).username %></div>
  <div>followee: <%= User.find(request.followee_id).username %></div>
  <div><%= request.approved %></div>
  <%= link_to "edit", edit_follow_path(request) %>
<% end %>

<%# Follow categories: %>
<%# Accepted %>
<%# Ignored %>
<%# Pending %>