<h1>Followers</h1>

<% @follows.each do |request| %>
  <div><%= User.find(request.follower_id).username %></div>
  <div><%= request.approved %></div>

  <%= form_with model: request, url: follow_path(request), method: :patch do |form| %>
    <%= form.hidden_field :approved, value: !request.approved %>
    <%= form.submit(request.approved ? 'Ignore' : 'Approve') %>
  <% end %>
  
  <%= link_to "Remove", follow_path(request), data: { 
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
<% end %>
