<%= form_with(model: post, class: "") do |form| %>
  <% if post.errors.any? %>
    <div class="notification is-danger">
      <h2 class="title is-6"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-4">
    <div class="control">
      <%= form.text_area :body, class: "textarea" %>
    </div>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field mt-4">
    <div class="control">
      <div class="buttons">
        <%= form.submit class: "button is-primary" %>
        <%= link_to "Back to posts", posts_path, class: "button is-light" %>
      </div>
    </div>
  </div>

<% end %>
