<% if post.errors.any? %>
  <div 
    class="notification is-danger mt-4"  >

    <h2 class="title is-6"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: post, class: "") do |form| %>
  <div class="field mt-4">
    <div class="control">
      <%= form.text_area :body, maxlength: "280", class: "textarea has-fixed-size", rows: "3", placeholder: "What is on your mind?" %>
    </div>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field mt-4">
    <div class="control">
      <div class="buttons">
        <%= form.submit class: "button is-primary", data: {turbo: false} %>
        <% if !params[:action].eql?('index') %>
          <%= link_to "Back to posts", posts_path, class: "button is-light" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>