<div id="<%= dom_id post %>">
  <div class="post-user-info">
    <%= render partial: 'users/shared/profile_avatar', locals: {user: post.user}%>
    <%= post.user.username %>
    <small><%= post.created_at.strftime("%b %d, %Y") %></small>
  </div>
  <p>
    <%= post.body %>
  </p>
</div>
