<%= link_to "Back to posts", posts_path %>
<%= render @post %>
<div>
  <%= render partial: "poly_likes/form", locals: { post: @post } %>
  <% if current_user.posts.include?(@post) %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
  <p>
    <strong>Comments:</strong>
    <%= render partial: "comments/form", locals: { post: @post, parent: nil } %>
    <div id="comments">
      <%= render partial: @post.comments.where(parent_id: nil).includes([:user]).order(id: :desc), locals: { post: @post }  %>
    </div>
  </p>
</div>
