<p style="color: green"><%= notice %></p>
<%= link_to "Back to posts", posts_path %>
<%= render @post %>
<div>
  <% like = current_user.likes.find_by(post: @post) %>
  <% if like.nil? %>
    <form action="/likes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="like[post_id]" value="<%= @post.id %>">
      <input type="submit" value="Like">
    </form>
  <% else %>
    <form action="<%= like_path(like)%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Unlike">
    </form>
  <% end %>
  <div><%= pluralize(@post.likes.count, 'like') if @post.likes.count > 0 %></div>
  <% if current_user.posts.include?(@post) %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
  <p>
    <strong>Comments:</strong>

    <%= render @post.comments.order(id: :desc) %>
    <%= render partial: "comments/form", locals: { post: @post } %>
  </p>

  <%# Need to add a create comment form here with edit and delete button for comment creator %>
  <%# Need to add a @post.comments index list of all post's comments below each post, have to have 
    a limiter on page or else could have 1000s of comments loading %>
</div>
