<%= link_to "Back to posts", posts_path %>
<%= render @post %>
<div>
  <% like = current_user.poly_likes.find_by(likable: @post) %>
  <% if like.nil? %>
    <form action= <%= poly_likes_path %> method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="poly_like[likable_id]" value=<%= @post.id %>>
      <input type="hidden" name="poly_like[likable_type]" value=<%= Post %>>
      <input type="submit" value="Like">
    </form>
  <% else %>
    <form action= <%= poly_like_path(like)%> method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Unlike">
    </form>
  <% end %>
  <div><%= pluralize(@post.poly_likes_count, 'like') if @post.poly_likes_count > 0 %></div>
  <% if current_user.posts.include?(@post) %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
  <p>
    <strong>Comments:</strong>
    <%= render partial: "comments/form", locals: { post: @post } %>
    <%= render @post.comments.includes([:user]).order(id: :desc) %>
    
  </p>

  <%# Need to add a create comment form here with edit and delete button for comment creator %>
  <%# Need to add a @post.comments index list of all post's comments below each post, have to have 
    a limiter on page or else could have 1000s of comments loading %>
</div>
