<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= form_with scope: :like, url: likes_path do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.submit "Like" %>
  <% end %>

  <%= @post.likes.count %>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
  
</div>
