<div class="navbar">
  <div class="navbar-brand">
    <span class="material-symbols-outlined">crossword</span>
    <span>Odinbook</span>
  </div>
  <% if !current_user.nil? %>
      <%= link_to posts_path, class: 'navbar-item' do %>
        <span class="material-symbols-outlined">home</span>
        <span>Home</span>
      <% end %>

      <%= link_to users_path, class: 'navbar-item' do %>
        <span class="material-symbols-outlined">explore</span>
        <span>People</span>
      <% end %>

      <%= link_to '#', class: 'navbar-item' do %>
        <span class="material-symbols-outlined">notifications</span>
        <span>Notificatons</span>
      <% end %>

      <%= link_to user_path(current_user.id), class: 'navbar-item' do %>
        <span class="material-symbols-outlined">person</span>
        <span>Profile</span>
      <% end %>

      <%= link_to edit_user_registration_path, class: 'navbar-item' do %>
        <span class="material-symbols-outlined">settings</span>
        <span>Settings</span>
      <% end %>

      <div class="navbar-item">
        <%= button_to destroy_user_session_path, data: { turbo: "false" }, method: :delete, class: 'button is-small is-danger is-outlined is-rounded' do %>
          <span class="material-symbols-outlined icon">logout</span>
          <span>Sign out</span>
        <% end %>
      </div>
  <% end %>
</div>