<div class="navbar column">
  <div class="navbar-brand">
    <span class='icon-text'>
      <span class="material-symbols-outlined icon is-size-3">crossword</span>
      <span class="is-size-3">Odinbook</span>
    </span>
  </div>
  <% if !current_user.nil? %>
    <%= link_to posts_path, class: 'navbar-item' do %>
      <span class="icon-text">
        <span class="material-symbols-outlined icon">home</span>
        <span>Home</span>
      </span>
    <% end %>
    <%= link_to users_path, class: 'navbar-item' do %>
      <span class="icon-text">
        <span class="material-symbols-outlined icon">explore</span>
        <span>People</span>
      </span>
    <% end %>
    <%= link_to '#', class: 'navbar-item' do %>
      <span class="icon-text">
        <span class="material-symbols-outlined icon">notifications</span>
        <span>Notificatons</span>
      </span>
    <% end %>
    <%= link_to user_path(current_user.id), class: 'navbar-item' do %>
      <span class="icon-text">
        <span class="material-symbols-outlined icon">person</span>
        <span>Profile</span>
      </span>
    <% end %>
    <%= link_to edit_user_registration_path, class: 'navbar-item' do %>
      <span class="icon-text">
        <span class="material-symbols-outlined icon">settings</span>
        <span>Settings</span>
      </span>
    <% end %>
    <div class="navbar-item">
      <%= button_to destroy_user_session_path, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: 'button is-small is-danger is-outlined is-rounded' do %>
        <span class="material-symbols-outlined icon">logout</span>
        <span>Sign out</span>
      <% end %>
    </div>
  <% end %>
</div>